// $primary: #1e90ff;
// $darkPrimary: #0000ff;
// $primary: #999900;
// $darkPrimary: #525100;
$primary: #ff5B04;
$darkPrimary: #ff5B04;
$hover: #ccc;
$secondary: #e92424;
$gray: #ccc;
$white: #ffffff;;
$warning: #e0a800;
$danger: #ff0000;
$textBlue: #005b96;
$success: #005b96;
$successLight: #d4edda;
$info: #0c5460;
$infoLight: #d1ecf1;
$warning: #ffcc00;
$warningLight: #fff3cd;
$dangerLight: #ff0000;