// $primary: #1e90ff;
// $darkPrimary: #0000ff;
// $primary: #999900;
// $darkPrimary: #525100;


// background colors
$primary: #FF5B04;
$darkPrimary: #c54500;
$lightPrimary: #ff8e31;
$hover: #ccc;
$secondary: #e73131;
$darkSecondary: #ad2222;
$lightSecondary: #e96868;
$gray: #ccc;
$white: #ffffff;;
$warning: #ffc107;
$warningLight: #f0d482;
$danger: #dc3545;
$dangerLight: #f8d7da;
$textBlue: #007bff;
$success: #28a745;
$successLight: #d4edda;
$info: #17a2b8;
$infoLight: #6db9c5;
$skyBlue: #038af4;