.active-menu {
  background-color: #d1ecf1;
  color: #0c5460;
}

.menu-holder label {
  margin-bottom: 0;
}

.menu-holder {
  padding: 5px 0 ;
}

.header-navbar,
.main-sidebar,
.system-header {
  z-index: 99 !important;
}

.main-sidebar .sidebar {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.main-sidebar .sidebar .sidebar-menu {
  width: calc(100% + 17px);
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.username-option:hover {
  background: #ddd !important;
  cursor: pointer;
}

@media (max-width: 991px) {
  .main-sidebar {
    min-height: unset;
  }
}

.pull-right {
  float: right;
}